{{ partial "fbchat" . }}

<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscribe us</p>
			<p class="mt0">Get our latest promotion and updates right in your inbox. When you choose Thapa, you also support our coffee farmers growing shade grown coffee.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Thapa Coffee</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About us</a></li>
					<li><a href="/farm" class="link">Farm</a></li>
					<li><a href="/values" class="link">Values</a></li>
					<li><a href="/products" class="link">Products</a></li>
					<li><a href="/post" class="link">Blogs</a></li>
					<li><a href="/contact" class="link">Contact us</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Find out more</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="/post/green-coffee-beans/" class="link">Green coffee beans</a></li>
					<li><a href="/post/brewing-chemex/" class="link">Lighter roasted coffee beans</a></li>
					<li><a href="/post/making-sense/" class="link">Darker roasted coffee beans</a></li>
					<li><a href="/post/brewing-chemex2/" class="link">Blend roasted coffee beans</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb2 primary">Social media</h3>
				<div class="sharethis-inline-follow-buttons"></div>

				<!--
				<ul class="mhn2 mv0 pl0">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Thapa-Coffee-283802199125196/" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "https://vimeo.com/290423418" "svg" "vimeo") }}
				</ul>
				-->
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}
<script src="https://use.fontawesome.com/5ae842f86d.js"></script>
<!-- <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script> -->
<script src="/app.js"></script>

</body>

</html>
