{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Himalayan" "subtitle" "Organic Arabica Bourbon Coffee") }}

{{ partial "short-text" (dict "heading" "Who is Thapa" "text" "Thapa is more than just coffee business, or coffee trade. It's our work passions for everyone who believes that great coffee shouldn't just taste good, it should do good too. We source all of our beans directly from small scale sustainable farmers and make sure part of the profits are reinvested in their communities.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" " At Thapa, the core of our mission is in our coffee. Himalayan Organic Arabica Bourbon Coffee is originates from Bourbon varietal of Arabica coffee beans, which has grown in the mountains of Nepal." "svg1" "img/home/svg1.jpg" "text1" "Bourbon beans is chocolate flavor and our product is much deep taste with organic and humbly cultivate by loyal farmers .With sustainable, eco-friendly farming with bio-logical techniques, Nepalese farmers cultivate this coffee plants and harvest the pure organic coffee beans." "svg2" "img/home/svg2.jpg" "text2" "This organic coffee beans are grown in 27.47ºN 85.44ºE at the height of 1400m from sea level. We know green is wealth and wealthy. Thus we do business with health and healthy in organic pattern." "buttonText" "See our products" "buttonLink" "/products"  ) }}

{{ partial "text-image-button" (dict "heading" "Responsible farming" "text" "Thapa Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature. At Thapa, we are very aware of our responsibility to preserve the wellbeing of our farming communities and natural resources." "imageUrl" "/img/home/about-section.jpg" "buttonText" "Explore our farm" "buttonLink" "/farm") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
